* {
  margin: 0;
  padding: 0;
}
body {
  background: #fbfce1
}
header {
  background: #b498d2ff;
}
.logo {
  margin: 10px;
  width: 180px;
  border-radius: 50%;
}
nav {
  vertical-align: top;
  display: inline-block;
}
.page-title {
  margin: 25px 40px;
  font-size: 65px;
  color: white;
}
.header-nav {
  margin: 0 25px;
  list-style-type: none;
  overflow: hidden;
}
.header-link {
  display: inline-block;
  margin: 10px;
  font-size: 30px;
}
.menu-link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}
nav li a:hover {
  background-color: #cebcdcff;
  border-radius: 20px;
}
main {
  width: 1000px;
  margin: 70px auto;
}
p {
  font-size: 20px;
}
.recipe-title {
  color: #333535;
  font-size: 40px;
  margin-bottom: 40px;
}
.recipe-header {
  width: 350px;
  height: 380px;
  display: inline-block;
  vertical-align: top;
  padding: 30px;
  margin: 0 30px;
}
.recipe-header-img {
  width: 450px;
  display: inline-block;
  padding: 30px;
}
.recipe-img {
  width: 100%;
}