@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
body {
  font-family: "mulish", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: #fbfce1;
}
header {
  background: #b498d2ff;
}
.logo {
  margin: 10px;
  width: 15%;
  border-radius: 50%;
  min-width: 140px;
  max-width: 165px;
}
nav {
  vertical-align: top;
  display: inline-block;
}
.page-title {
  margin: 20px 40px;
  font-size: 55px;
  color: white;
}
.header-nav {
  margin: 0 25px;
  list-style-type: none;
  overflow: hidden;
}
.header-link {
  display: inline-block;
  margin: 10px;
  font-size: 30px;
}
.menu-link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}
nav li a:hover {
  background-color: #cebcdcff;
  border-radius: 20px;
}
.rec-descr {
  font-size: 20px;
  max-width: 400px;
}
.rec-title {
  font-size: 40px;
  margin-bottom: 40px;
}
.rec-header {
  background: #fbfce1;
  width: 70%;
  min-width: 430px;
  margin: 50px auto;
}
.rec-info {
  display: inline-block;
  vertical-align: top;
  padding: 30px;
  color: #333535;
}
.rec-header-img {
  max-width: 550px;
  display: inline-block;
  padding: 30px;
  box-sizing: border-box;
}
.rec-img {
  width: 100%;
  max-width: 500px;
  min-width: 360px;
}
.rec-lists {
  width: 70%;
  margin: 0 auto;
}
.ingr-list {
  color: #333535;
  margin: 0 30px;
  padding: 10px;
  display: inline-block;
  width: 40%;
  vertical-align: top;
}
.ingredients-title {
  margin-bottom: 8px;
}
.ingredients {
  margin: 10px;
  font-size: 20px;
  list-style-type: none;
}
ol {
  display: inline-block;
  width: 50%;
  min-width: 370px;
  padding: 10px;
  color: #333535;
}
.instructions {
  margin: 10px;
  font-size: 20px;
}
form {
  margin: 50px auto;
  width: 40%;
  min-width: 450px;
  color: #333535;
}
fieldset {
  padding: 20px;
  border-style: none;
}
label,
input,
textarea {
  display: block;
  padding: 5px;
  box-sizing: border-box;
}
input {
  width: 100%;
  font-family: "mulish", sans-serif;
}
textarea {
  font-family: "mulish", sans-serif ;
  resize: none;
  width: 100%
}
.submit {
  margin: 0 20px;
  width: 80px;
}